.team {
	padding: 30px;

	.title__top {
		@include font("Open Sans semibold", 35, 400, black);
	}

	.title__main {
		@include font("Open Sans reg", 16, 400, black);
	}

	.team__wrapper {
		width: 260px;
		margin: 60px auto 0;

		@media (min-width: 768px) {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			width: 550px;
		}

		@media (min-width: 1200px) {
			width: 1100px;
		}
	}

	.team__item {
		cursor: pointer;
		margin-bottom: 40px;
		text-align: center;
		transition: all 1.5s ease;

		&Image img{
			filter: grayscale(100);
			height: 286px;
			transition: all .3s linear;
		}

		&Info {
			margin: 25px 0;
			text-align: center;

			&Name {
				text-transform: uppercase;
				@include font("Open Sans semibold", 25, 400, #9DA1A5F9);
				transition: all .3s linear;
			}

			&Social {
				display: flex;
				justify-content: space-around;
				margin: 25px auto;
				width: 180px;

				@media (min-width: 992px) {
					width: 120px;
				}

				& a img {
					width: 40px;
					height: 40px;
					filter: grayscale(1);
					transition: all .3s linear;

					@media (min-width: 992px) {
						width: 25px;
						height: 25px;
					}
				}
			}

			&Text {
				width: 230px;
				margin: 0 auto;
				@include font("Open Sans reg", 14, 400, #9DA1A5F9);
				transition: all .3s linear;
			}
		}

		&:hover {

			.line_orange {
				transform: scaleX(1);
			}

			.team__itemInfoName, .team__itemInfoText {
				color: black;
			}

			img {
				filter: grayscale(0);
				transform: scale(1.1);
			}
		}
	}
}

.team__slider {
	display: flex;
	justify-content: space-around;
	width: 150px;
	margin: 70px auto 0;

	&Item {
		height: 12px;
		width: 12px;
		border-radius: 50%;
		background: #9DA1A5F9;
		cursor: pointer;

		&:hover {
			background: &c-orange;
			transform: scale(1.1);
			background: $c-orange;
		}
	}
}
